{
  "presets": ["airbnb"],
  "plugins": [
    "react-hot-loader/babel",
    ["babel-plugin-styled-components", {
      "ssr": true
    }]
  ],
  "env": {
    "production": {
      "presets": ["airbnb", "react-optimize"]
    }
  }
}
