{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb",
    "plugin:ava/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "ava"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "settings": {
    "import/core-modules": ["lodash.some"]
  },
  "rules": {
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["req", "res"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        devDependencies: true
      }
    ],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "new-cap": [
      "error", {
      "properties": false
    }]
  }
}
